<div class="divider"></div>
  <div class="section">
    <h3>O que você está procurando?</h3>

    <% @categories.each do |category| %>
        <% if category.parent_id.blank? %>
            <p><%= link_to category.name, category %></p>
            <% category.subcategories.each do |subcategory| %>
                <p>- <%= link_to subcategory.name, subcategory %></p>
            <% end %>
        <% end %>
    <% end %>
</div>