<p>O que você está procurando?</p>

<% @categories.each do |category| %>
    <% if category.parent_id.blank? %>
        <h2><%= link_to category.name, category %></h2>
        <% category.subcategories.each do |subcategory| %>
            <h3>- <%= link_to subcategory.name, subcategory %></h3><br/>
        <% end %>
    <% end %>
<% end %>