@import "materialize/components/color";
//Variables (more in https://github.com/Dogfalo/materialize/blob/master/sass/components/_variables.scss)
$primary-color: color("blue-grey", "darken-3") !default;
$secondary-color: color("light-blue", "darken-2") !default;
$link-color: color("light-blue", "darken-2") !default;
$success-color: color("light-green", "accent-2") !default;
$error-color: color("red", "darken-2") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'base';
#tituloApp {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
