/* Fontes */

h1 {
    font-size: 2rem;
    margin: 1rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.0rem;
}

h5 {
    font-size: 0.8rem;
}

label {
    font-size: 1.3rem;
    color: #777;
    font-weight: bold;
}


/* Alinhamento */

.vertical-middle {
    vertical-align: middle;
}

/* Menu superior */

#nav-login {
    height: 30px;
    line-height: 30px;
}
