<h2><%= @category.name.pluralize %></h2>

<% @subcategories.each do |subcategory| %>
<p><%= link_to subcategory.name, subcategory %></p>
<% end %>

<div class="card-deck">
    <% @products.each do |product| %>
        <div class="card z-depth-3" style="width: 18rem;">
            <div class="center card-image">
                <% if product.has_picture? %>
                    
                <% end %>
            </div>
            <div class="card-content">
                <div class="card-title"><%= link_to product.name, product %></div>
                <div class="card-footer"><%= product.brand.name %></div>
            </div>
        </div>
    <% end %>
</div>