<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">App Name</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
            <li><%= link_to edit_user_registration_path, id: "Minhaconta" do %>
              <i class="small material-icons">perm_identity</i>
            <% end %></li>
            <li><%= link_to destroy_user_session_path, :method => :delete, id: "Sair" do %>
              <i class="small material-icons">power_settings_new</i>
            <% end %></li>
		<% else %>
		    <li><%= link_to new_user_session_path, id: "entrar" do %>
              <i class="small material-icons">input</i>
            <% end %></li>
            <li><%= link_to new_user_registration_path, id: "cadastrar" do %>
              <i class="small material-icons">mode_edit</i>
            <% end %></li>
		<% end %>
      </ul>
    </div>
</nav>